<footer id="footer">
  <section class="split contact">
    {% for address in site.data.addresses %}
    <section class="alt">
      <h3>{{address.city}} Office</h3>
      <section>
        <p style="margin: 0;">{{address.street}}</p>
        <p>{{address.city}}, {{address.state}} {{address.zip}}</p>
      </section>
    </section>
    {% endfor %}
    <section>
      <h3>Phone</h3>
      <p><a href="tel:{{site.data.contact_info.phone}}">{{site.data.contact_info.phone}}</a></p>
      <h3>Fax</h3>
      <p><a href="tel:{{site.data.contact_info.fax}}">{{site.data.contact_info.fax}}</a></p>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; PTR Sports</li></ul>
</div>
