<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | relative_url }}">Home</a></li>
  <li class="{% if page.url contains '/services/' %} active {% endif %}"><a href="{{ "/services/" | relative_url }}">Services</a></li>
  <li class="{% if page.url contains '/meet/' %} active {% endif %}"><a href="{{ "/meet/" | relative_url }}">Meet the Experts</a></li>
  <li class="{% if page.url contains '/for_patients/' %} active {% endif %}"><a href="{{ "/for_patients/" | relative_url }}">For Patients</a></li>
  <li class="{% if page.url contains '/faq/' %} active {% endif %}"><a href="{{ "/faq/" | relative_url }}">FAQs</a></li>
</ul>
